.header {
    padding: 32px 0 24px;
}
.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.header__logo {
    width: 240px;
}
@media (width <= 540px) {
    .header__logo {
        max-width: 145px;
    }
}